---
import CodeIcon from '../Aside/CodeIcon.astro';
---
<aside class=" m-auto h-7 flex items-center justify-center bg-[#24223e] gap-1">
    <div><CodeIcon class="text-white"/>
    <p class="text-white"> WEDelopers</p></div>
    <p>Connect all your tasks, docs, people, and knowledge with ClickUp Brain </p>

</aside>