---
import Section1 from "./section1/Section1.astro"
---

<div class=" [inline-size:100%] m-auto">
    <div class="relative flex flex-col items-center my-0 mx-10">
        <Section1>
            
        </Section1>


    </div>
</div>