---
import Layout from '../layouts/Layout.astro';
import Aside from '../components/Aside/Aside.astro';
import Header from '../components/Header/Header.astro';
---

<Layout title="Welcome to Astro.">
	
		<Aside/>
		<Header/>
	<main class="inline-[100vw]">
		

	</main>
</Layout>

<style>
	
</style>
