---
import Layout from '../layouts/Layout.astro';
import Aside from '../components/Aside/Aside.astro';
import Header from '../components/Header/Header.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Aside/>
		<Header/>

		

	</main>
</Layout>

<style>
	
</style>
