---
const {class: className} = Astro.props
---

<div 
    
    class={`${className} h-12 flex py-[5px] border boder-solid border-gray-300 rounded-xl items-center content-center`}
    
    
    >
    <slot />
</div>