---
import ButtonMenuHeader from "./ButtonMenuHeader.astro"
import BoxNav from "./BoxNav.astro"
---
<div class="box-border">
    <nav class="px-10 pt-5 mx-auto lg:mx-96 grid grid-rows-1 grid-cols-[auto_1fr_auto] gap-4 max-w-full ">
        <BoxNav class="px-[14px]">
            <a href="#">
                <h1 class="text-lg font-bold ">Wedelopers</h1>
            </a>
        </BoxNav>
        <div class="flex">
            <BoxNav class="px-[5px]">
                <ButtonMenuHeader class="px-3 h-9">
                    Producto
                </ButtonMenuHeader>
                <ButtonMenuHeader>
                    Servicios
                </ButtonMenuHeader>
                <ButtonMenuHeader>
                    Contacto
                </ButtonMenuHeader>
                <ButtonMenuHeader>
                    Nosotros
                </ButtonMenuHeader>
            </BoxNav>
        </div>
        <div class="flex gap-3">
            <BoxNav class="px-2 gap-1.5">
                <ButtonMenuHeader href="">
                    Producto
                </ButtonMenuHeader>
                <div>
                <button type="button" class="text-white bg-gradient-to-r hover:scale-105 transition from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-4 py-1.5 text-center "><span class="text-base"> WhatsApp</span></button>
                </div>
                
            </BoxNav>

        </div>

    </nav>
</div>